[Unit]
Description=Start and stop apu led blinking
Before=nethserver-config-network.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/apu-leds start
ExecStop=/usr/local/bin/apu-leds stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
